<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="FlyCowKey" value="0x7B2566EFE30E11CCAC515B0D256AE25FC5D048D6A199CCD8A0640604744DB66123B7B150E626D3EC4E508A0565532F7B5446BE8E82DCDB3D0BD0864FA4CCD5EA" />
  </appSettings>
</configuration>